body{
background-color:darkgray;
font-family: normal 100% 'Droid Sans', arial, sans-serif;
line-height: 2em;
padding;100px;
margin-left:255px;
margin-right:255px;
border:solid;
border-width:3px;
border-color:black;
width:550px;
}



h1 {
    color:white;
     Background-color: black;
    width: 549px;
}

.box{
    color:mediumpurple
}